{% extends 'base.html' %}
{% load humanize %}

{% block body %}
    <div class="col-8 m-auto mt-5 box-content p-5" dir='rtl'>
        <h3 class='float-start col-10'>{{ article.title }}</h3> 
        <div class='float-end col-2 d-flex flex-column justify-content-around '>
            <small class="text-success">نویسنده : {{ article.author }}</small> 
            <small class="text-primary">زمان ایجاد : {{ article.created | timesince }} قبل</small>
        </div>
        <div class="clearfix"></div>
        <hr>
        <p>{{article.body | linebreaks }}</p>
    </div?>
{% endblock body  %}