{% extends 'base.html' %}

{% block body %}
<main class="mt-2 m-1">
    <div class="d-flex flex-column float-end col-3">
        <section class="box p-2" dir="rtl">
            <!-- News -->
            {% for news in all_news %}
            <a href='{% url "home:detail-news" news.id %}' class="item-box d-block">
                {{news.title}}
            </a>
            {% empty %}
            <p class="item-box d-block">
                در حال حاضر خبری بارگذاری نشده
            </p>
            {% endfor %}
        </section>
        <section class="box p-2" dir="rtl">
            <!-- handout -->
            {% for handout in all_handout %}
            <a href='#' class="item-box d-block">
                {{handout.title}}
            </a>
            {% empty %}
            <p class="item-news d-block">
                در حال حاضر جزوه ای بارگذاری نشده
            </p>
            {% endfor %}
        </section>
    </div>

    <section class="col-8 float-start box p-3" dir="rtl">
        <!-- Artiles -->
        {% for article in all_article %}
        <a href='#' class="item-box d-block">
            {{article.title}}
            <!-- Other -->
        </a>
        {% empty %}
        <p class="item-news d-block">
            در حال حاضر مقاله ای بارگذاری نشده
        </p>
        {% endfor %}
    </section>
</main>
{% endblock body %}