@font-face {
    font-family: "vazir-reg";
    src: url("fonts/Vazir-Regular-FD.ttf");
    src: url("fonts/Vazir-Regular-FD.ttf") format("truetype");
}

body{
    font-family: "vazir-reg", Arial, Helvetica !important;
    background-color: rgb(248, 250, 253);
}


a{
    color: black;
    text-decoration: none;
}


.box,form,.box-content{
    box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
    background-color: white;
    margin: 1vw;
}
.item-box{
    padding: 10px;
    transition: background-color 0.5s;
}
.item-box:hover{
    background-color: #eff2f5;
}
.link{
    transition: color 0.2s;
}
.link:hover{
    color: rgb(0, 124, 165);
}
.custom-shadow{
    box-shadow: 0px 0px 5px rgba(70, 147, 211, 0.404);
}